#buylist
  h1 MyBuylist 購物清單
  .buy_item.control_panel
    label 產品名
    input#input_name(placeholder="名稱...")
    label 價錢
    input#input_price(placeholder="234...")
    span.addbtn +新增
  #items_list
    //- li.buy_item 1.吹風機
    //-   .price 100
    //-   .del_btn X
    //- li.buy_item 2.吹風機
    //-   .price 100
    //-   .del_btn X
    //- li.buy_item 3.吹風機
    //-   .price 100
    //-   .del_btn X
    //- li.buy_item.total 總價
    //-   .price 500